<h1>Reservations#index</h1>
<p>Find me in app/views/reservations/index.html.erb</p>
<% @reservations.each do |reservation| %>
  <%= reservation.start_time %> <br>
  <%= reservation.end_time %>
<% end %>
